CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build

neomem_example

__pycache__
datasets
results
wandb
*.so
*.jpg
*.json
*.txt
rehearsal
.ccls
.ccls-cache
*.kdev4
.cache